.list-page-outer {
  width: 100%;
  height: 100%;
}

.tiles-div-outer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-template-rows: auto;
}

.listpage-inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

img.product-image {
  width: 200px;
  height: 200px;
}

.each-product-tile,
.white-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 12px;
  color: black;
  list-style: none;
  padding: 10px;
}

.light-tile {
  background-color: rgb(194 159 159 / 20%);
}

button.light-dark-mode-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
}

.toggle-on-icon,
.toggle-off-icon {
  font-size: 30px;
}

.list-page-h2-heading,
.dark-title {
  color: white;
}

.light-title {
  color: black;
}
